<!-- Pay attention to the paths of the file you are using -->
<header>
  <nav id="navbar-outer" class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">BucketIt</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(typeof user !== 'undefined'){ %>



        <div>
        </div>

        <div>
          <%- include _registerlogin %>
        </div>


        <% } else{ %>
          <p class="nav-item nav-text" style="margin-right: 10px;">
              You are logged in as:
            </p>
          <form method="POST" action="/logout" style="display: flex-end; color: #2a43e8;">
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
