<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">BucketIt</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(typeof user !== 'undefined'){ %>

        <p class="nav-item nav-text" style="margin-right: 10px;">
          You are logged in as:
        </p>

        <div>
          <%- include('partials/_update') %>
        </div>

        <form method="POST" action="/logout" style="display: flex-end">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>

        <div>
          <%- include('./partials/_registerlogin') %>
        </div>
        <div>
          <%- include('./partials/_test')%>
        </div>

        <% } else{ %> <% } %>
      </div>
    </div>
  </nav>
</header>
