<!-- Pay attention to the paths of the file you are using -->
<header>
  <div>
      <nav id="navbar-outer" class="navbar">
          <a class="navbar-brand" >BucketIt</a>

        <div class="in-line my-2 my-sm-0">
        <% if (user) {%>
            <p class="nav-item nav-text" style="margin-right: 10px;">
                You are logged in as:
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update">
                Update
            </button>
            <form method="POST" action="/logout" style="display: flex-end; color: #2a43e8;">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        <% }  else { %>
            <div>
            <%- include _registerlogin %>
            </div>
            <% }%>
        </div>
      </nav>
  </div>
<% if (user) {%>
  <div>
    <form action="/todos" method="POST">
      <input type="text" class="form-control" placeholder="Search for you bucket list here" aria-label="Item" aria-describedby="item-search">
    </form>
  </div>
<% }%>
</header>
