<div class="container">
    <% JSON.stringify(data) %>

    <div class="row">
      <div class="col-sm">
          <div class="card">
              <div class="card-header">
                Fils and TV Series
              </div>
              <ul class="list-group list-group-flush">
              <% for (const item of data) { %>
                <% if item.category_id === 1) { %>
                <li><%= item.input %></li>
                <%}%>
                <%}%>
              </ul>
            </div>
      </div>
      <div class="col-sm">
          <div class="card">
              <div class="card-header">
                Books
              </div>
              <ul class="list-group list-group-flush">
                  <% for (const item of data) { %>
                    <% if item.category_id === 2) { %>
                    <li><%= item.input %></li>
                    <%}%>
                    <%}%>
              </ul>
            </div>
      </div>
      <div class="col-sm">
          <div class="card">
              <div class="card-header">
                Restaurants
              </div>
              <ul class="list-group list-group-flush">
                  <% for (const item of data) { %>
                    <% if item.category_id === 3) { %>
                    <li><%= item.input %></li>
                    <%}%>
                    <%}%>
              </ul>
            </div>
      </div>
      <div class="col-sm">
          <div class="card">
              <div class="card-header">
                Products
              </div>
              <ul class="list-group list-group-flush">
                  <% for (const item of data) { %>
                    <% if item.category_id === 1) { %>
                    <li><%= item.input %></li>
                    <%}%>
                    <%}%>
              </ul>
            </div>
      </div>
    </div>
  </div>
